name: Build mwan3 IPK ImmortalWRT

on:
  workflow_dispatch:

jobs:
  build:
    name: Build mipsel_24kc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Paket
        uses: immortalwrt/gh-action-sdk@master
        env:
          ARCH: mipsel_24kc
          PACKAGES: mwan3 luci-app-mwan3 iptables-nft ip6tables-nft kmod-ipt-nat kmod-ipt-conntrack-extra
          EXTRA_FEEDS: src-git packages https://github.com/immortalwrt/packages.git
          V: s
          BUILD_LOG: 1
          # NO_DEFAULT_FEEDS: 0   # uncomment kalau perlu disable default, tapi coba tanpa dulu

      - name: Upload Paket
        uses: actions/upload-artifact@v4
        with:
          name: mipsel_24kc-packages
          path: bin/packages/mipsel_24kc/packages/*.ipk
